**/bin
**/obj
**/.vs
**/.idea
**/.vscode
**/node_modules
**/.next
**/out
**/dist
artifacts
logs
.git
.github
.gitignore
.env
.env.*
*.log
*.bak
*.dump
*.pfx
*.pem
*.key
Connection.txt
RIMS
docs
database
README.md
